.vs
IdentityServerApnetCore.OAuth/bin
IdentityServerApnetCore.OAuth/obj
IdentityServerAspNetCore.Api/bin
IdentityServerAspNetCore.Api/obj
IdentityServerAspNetCore.Web/bin
IdentityServerAspNetCore.Web/obj
IdentityServerAspNetCore.Data/bin
IdentityServerAspNetCore.Data/obj